html {
  height: 100vh;
}

body {
  margin: 0 auto;
  height: 100%;
  background-color: #455A64;
}

table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
}

tr {
  border: thin solid black;
}