html, body {
  font-family: 'Open Sans', sans-serif;
}

h2 > a:hover,
h2 > a:visited{
  color: black;
  text-decoration: none;
}

h2 {
  cursor: pointer;
}

li {
  margin-top: 5px;
}

.sidebar button {
  margin-bottom: 15px;
}

.card {
  /*display: inline-block;*/

  /*width: 200px;*/
  /*height: 150px;*/
  padding: 16pt;
  margin-top: 16px;

  color: rgba(0, 0, 0, 0.84);
  background: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 2pt;

  font-size: 14px;
}

.card > strong {
  font-weight: 600;
}

.nameOfDrink {
  font-size: 18px;
}
.card > li {
  list-style-type: square;
}

img {
  width: 100px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.form-control {
  border-radius: 2pt;
}

.btn {
  border-radius: 2pt;
}