<div class="row">
  <div class="col-md-3 sidebar">

    <div class="row">
      <div class="col-md-12">
        <form class="form" ng-submit="main.newIngredient.length >= 2 && main.handleIngredients(main.newIngredient)">
          <div class="form-group">
            <label>Lägg till ingrediens</label>
            <input type="text" class="form-control" ng-model="main.newIngredient" required>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success pull-right">Lägg till</button>
           </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ol>
          <li ng-repeat="listOfIngredients in main.ingredients">{{listOfIngredients}}</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="col-md-9 main">
    <p class="lead" ng-hide="main.newIngredient.length > 0 || main.ingredients.length > 0">
      Använd formuläret till vänster för att filtrera på ingredienser
    </p>

    <p ng-show="main.searchString.length > 0">
      Visar recept som innehåller <span class="label label-info">{{main.searchString}}</span>
    </p>

    <p ng-show="main.ingredients.length > 0">Visar recept som innehåller
      <span ng-repeat="listOfIngredients in main.ingredients">
        <span class="label label-info">{{listOfIngredients}}</span>
      </span>
    </p>

    <!-- Show results -->
    <div class="row">
      <p class="lead" ng-show="main.noResults">Inga groggar hittade.</p>

      <div class="col-xs-12 col-md-4" ng-repeat="name in main.returnedDrinks" ng-hide="main.noResults">
        <div class="card">
          <strong class="nameOfDrink">{{name.drink_name}}</strong>
          <li ng-repeat="ingredient in main.returnedIngredients[$index]">
            {{ingredient}}
          </li>
        </div>
      </div>
    </div>
  </div>
</div>