.clock-face {
  background-color: #E3F2FD;
}

.middle {
  background-color: #E3F2FD;
}

.hour {
  background-color: #82B1FF;
}

.minute {
  background-color: #82B1FF;
}

.second {
  background-color: #2196F3;
}

.date {
  color: rgba(0, 0, 0, 0.87);
}