.clock-face,
.middle {
  background-color: #263238;
}

.hour,
.minute {
  background-color: #90AfAE;
}

.second {
  background-color: #607D8B;
}

.date {
  color: rgba(255, 255, 255, 1);
}