.clock-face {
  background-color: #bdc3c7;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.arm {
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -5px;
  
  width: 10px;
  display: block;
}

.middle {
/*  background-color: #bdc3c7;*/
/*  background-color: black;*/
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
  display: block;
  z-index: 500;
  
/*  border: 2px solid #2c3e50;*/
  
  border-radius: 50%;
}

.hour {
  background-color: #2c3e50;
  position: absolute;
  bottom: 50%;
  left: 50%;
  
  width: 10px;
  height: 50vh;
  display: block;
  z-index: 100;
}

.minute {
  background-color: #7f8c8d;
  position: absolute;
  bottom: 50%;
  left: 50%;
  
  width: 10px;
  height: 30vh;
  display: block;
  z-index: 200;
}

.second {
  background-color: #c0392b;
  position: absolute;
  bottom: 50%;
  left: 50%;
  
  width: 10px;
  height: 20vh;
  display: block;
  z-index: 300;
}

.rounded {
  -webkit-transform-origin: bottom center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#circle-container{
  width:100px;height:100px
}
.quarter{
  width:50px;height:50px
}
.top-left{
  border-top-left-radius:50px;background:#09f;float:left
}
.top-right{
  border-top-right-radius:50px;background:#666;float:right
}
.bottom-left{
  border-bottom-left-radius:50px;background:#aaa;float:left
}
.bottom-right{
  border-bottom-right-radius:50px;background:#333;float:right
}